@model IEnumerable<mallform.Models.Invoice>
@{
    ViewBag.Title = "ReadOnlyInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoice List </h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Tenant</th>
            <th scope="col">Created On</th>
            <th scope="col">Start Month</th>
            <th scope="col">End Month</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>


        </tr>
    </thead>

    @foreach (var invoice in Model)
    {

        <tbody>
            <tr>
                <td>
                    @invoice.Rent.Tenant.shopName
                </td>
                <td>
                    @invoice.CreatedDate.ToString("MM/dd/yyyy")
                </td>
                <td>
                    <div class="Date">

                        <div class="Month">
                            @invoice.startMonth.ToString("MMM")
                        </div>
                        <div class="day">
                            @invoice.startMonth.ToString("d ")
                        </div>

                    </div>
                </td>
                <td>
                    <div class="endDate">
                        <div class="MM">
                            @invoice.endMonth.ToString("MMM")
                        </div>
                        <div class="dd">
                            @invoice.endMonth.ToString("d ")
                        </div>
                    </div>
                </td>

                <td>
                    @invoice.Rent.Amount
                </td>
                <td>
                    @invoice.InvoiceStatus
                </td>
                <td>
                    @invoice.Discription
                </td>
                <td>

                    @Html.ActionLink("Print", "GenratePrint", "Rent", new { id = invoice.Id }, null)
                </td>

                

                

            </tr>
        </tbody>
    }
</table>



