@model mallform.ViewModel.RentFormViewModel
@{
    ViewBag.Title = "editLease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Edit Lease</strong></h2>

<br>
@using (Html.BeginForm("Save", "Rent", FormMethod.Post, new { enctype = "multipart/form-data" }))

{

    @Html.LabelFor(m => m.Rent.tenantId)
    @Html.DropDownListFor(m => m.Rent.tenantId, new SelectList(Model.Tenants, "Id", "shopName"), "Select Tenant",
        new { @class = "form-control" })
    <br>
    @Html.LabelFor(m => m.Rent.unitId)
    @Html.DropDownListFor(m => m.Rent.unitId, new SelectList(Model.Units, "Id", "Size"), "Select Size",
        new { @class = "form-control" })
    <br>
    @Html.LabelFor(model => model.Rent.startDate)


    @Html.TextBoxFor(model => model.Rent.startDate, new { @class = "form-control" })
    <br>
    @Html.LabelFor(model => model.Rent.endDate)


    @Html.TextBoxFor(model => model.Rent.endDate, new { @class = "form-control" })
    <br>
    @Html.LabelFor(m => m.Rent.Amount)
    @Html.TextBoxFor(m => m.Rent.Amount, new { @class = "form-control", placeholder = "In Rupees" })
    <br>
    @Html.LabelFor(m=>m.Rent.leaseStatus)
    @Html.DropDownListFor(model => model.Rent.leaseStatus, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "New"  },
                       new { value = 1 , text = "Active" },
                       new {value = 2 , text = "Expired"}

                    },
                  "text",
                  "text",
                   0), new { @class = "form-control" })

  <br>
    <label>
        Upload File
    </label>
    <input type="file" name="file" id="file" />

    <br>
    @Html.HiddenFor(m => m.Rent.Id)
   

    <br>

    <button type="submit" class="btn btn-primary">Save</button>

}
