
@model mallform.Models.Invoice
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genrate Print</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9pt;
        }
    </style>
</head>
<body>

    <hr />
    <div id="Grid">
        <table cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;">
            <tr>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Created On</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Issue Date</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">End Date</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Total Amount</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Invoice Status</th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">Description</th>

            </tr>
            <tr>
                <td style="width:120px;border: 1px solid #ccc">@Model.CreatedDate.ToString("MM/dd/yyyy")</td>
                <td style="width:120px;border: 1px solid #ccc">@Model.startMonth.ToString("MM/dd/yyyy")</td>
                <td style="width:120px;border: 1px solid #ccc">@Model.endMonth.ToString("MM/dd/yyyy")</td>
                <td style="width:120px;border: 1px solid #ccc">@Model.Rent.Amount</td>
                <td style="width:120px;border: 1px solid #ccc">@Model.InvoiceStatus</td>
                <td style="width:120px;border: 1px solid #ccc">@Model.Discription</td>
              
               

            </tr>

        </table>
    </div>

    <br />
    <br />

    @using (Html.BeginForm("Genrate", "Rent", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
                        <input type="submit" id="btnSubmit" value="Print" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
    
</body>
</html>

