@model  mallform.ViewModel.InvoiceViewModel
@{
    ViewBag.Title = "GenrateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Genrate Invoice</strong></h2>
<br />
<br />


@using (Html.BeginForm("Create", "Rent"))
{

    <p class="alert alert-info">Tenant : @Model.Rent.Tenant.shopName </p>

    <label>
        Create On
    </label>
   @Html.TextBoxFor(x => x.Invoice.CreatedDate , new { @Value = @DateTime.Now.ToShortDateString() ,@class ="form-control",  @readonly = "readonly" } )

    <br />

    @Html.LabelFor(m => m.Invoice.startMonth)
    @Html.TextBoxFor(m => m.Invoice.startMonth, new { @class = "form-control" })
    <br />

    @Html.LabelFor(m => m.Invoice.endMonth)
    @Html.TextBoxFor(m => m.Invoice.endMonth, new { @class = "form-control " })
    <br />
   <label>
       Total Amount
   </label>
   @Html.DropDownListFor(m=>m.Invoice.rentId , new SelectList(Model.Rents , "Id" , "Amount"),"" ,
    new {@class="form-control"})
    <br />


   @Html.LabelFor(m=>m.Invoice.InvoiceStatus)
    @Html.DropDownListFor(model => model.Invoice.InvoiceStatus, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "New"  },
                       new { value = 1 , text = "Paid" }
                    },
                  "text",
                  "text",
                   0), new { @class = "form-control" })
    <br />

    
    @Html.LabelFor(m=>m.Invoice.Discription)
    @Html.TextBoxFor(m=>m.Invoice.Discription , new { @class = "form-control"})

    <br />
    @Html.HiddenFor(m => m.Invoice.Id)

    <button type="submit" class="btn btn-primary" >Generate</button>
} 